<!doctype html>
<html>
<head>
	<title>Dave Durkee</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=320, initial-scale=1">
	<meta name="keywords" content="Trivia, Durkee, AD5JO" /> 
	<meta name="Dave Durkee" content=""> 

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- <link rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->
	<link rel="stylesheet" type="text/css" href="assets/css/style_primatives.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style_id.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style_class.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style_media.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style_game.css">

	<script type="text/javascript" src="assets/javascript/game.js"></script>

</head>
<body>

<!-- <audio id="myAudio">
  <source src="./assets/audio/va_room-[AudioTrimmer.com]_230.mp3" type="audio/mpeg" >
</audio> -->

<h1 id = "TITLE" >Title</h1>
	<div class="container-fluid">

	<!-- ---------------------------------- 1 --------------------------------------- -->
		<div class="row" >
			<div class="col-md-8"></div>	<div class="col-md-4">This is a col-md-4</div>
		</div>
	<!-- ---------------------------------------------------------------------------- -->

	<!-- ---------------------------------- 2 --------------------------------------- -->
		<div class="row" >
		  <div class="col-md-4" id = "hero" > </div>	<div id = "select_a_hero" class="col-md-8">This is a col-md-8</div>
		</div>

	<!-- ---------------------------------------------------------------------------- -->

	<!-- ---------------------------------- 3 --------------------------------------- -->
		<div class="row" >
			<div class="col-md-2"> <div id="rest"> </div> </div> 
			<div class="col-md-2"></div>
			<div class="col-md-2"> <div id="npc1"><img id = "img_han" src="./assets/images/han.png" alt="" width="75" height="75"> </div> </div>
			<div class="col-md-2"> <div id="npc2"><img id = "img_chewy" src="./assets/images/chewy.png" alt="" width="75" height="75"> </div> </div>
			<div class="col-md-2"> <div id="npc3"><img id = "img_maul" src="./assets/images/maul.png" alt="" width="75" height="75"> </div> </div>
			<div class="col-md-2"> <div id="npc4"><img id = "img_darth" src="./assets/images/darth.png" alt="" width="75" height="75"> </div> </div>

		</div>

	<!-- ---------------------------------------------------------------------------- -->



	<!-- ---------------------------------- 4 --------------------------------------- -->
		<div class="row" >
			<div class="col-md-4" id= "attack">

				<p><a class="btn btn-primary btn-sm" id="play_button" role="button">Play</a></p>  <!-- href="attack_button" --> 

			</div>	<div class="col-md-8"></div>
		</div>
	<!-- ---------------------------------------------------------------------------- -->


	<!-- ---------------------------------- 5 --------------------------------------- -->
		<div class="row" >
			<div class="col-md-4"  id="play_again"> 

				<p><a class="btn btn-primary btn-sm" id="play_again_button" role="button">Play Again</a></p>  <!-- href="play_again_button" -->

			</div>	<div class="col-md-8"></div>
		</div>
	<!-- ---------------------------------------------------------------------------- -->


</body>
</html>
